@media screen and (min-width: 360px) {
  body {
    margin: 0;
  }

  .main {
    width: 100%;
    height: 100%;
  }
  .main .header {
    height: 40px;
  }
  .main .header .nav {
    box-sizing: border-box;
    padding-top: 5px;
    height: 100%;
    display: flex;
    justify-content: space-between;
  }
  .main .header .nav a {
    width: 100%;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    color: #556;
  }
  .main .header .nav a:focus, .main .header .nav a:hover {
    border-bottom: 2px solid darkblue;
    color: #556;
  }
  .main .header .nav a:active, .main .header .nav a:visited {
    color: #556;
  }
  .main .content {
    background-color: #dddddd;
    background-image: linear-gradient(to bottom, #e9e9e9, #dddddd, #bbbbbb, #c3c3c3);
  }
  .main .content .top {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .main .content .top .thumbnail_Image {
    width: 0px;
  }
  .main .content .top .thumbnail_Image .img_Small {
    border: 1px solid;
  }
  .main .content .top .main_Image .img_Big {
    width: 100%;
  }
  .main .content .top .buy_info {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    border-radius: 4px;
  }
  .main .content .top .buy_info .buy_info_header .h2 {
    margin: 0;
    margin-bottom: 15px;
  }
  .main .content .top .buy_info .buy_info_price {
    margin-top: 15px;
    font-weight: bold;
    font-size: 25px;
  }
  .main .content .top .buy_info .buy_info_colorSelector {
    margin-top: 15px;
  }
  .main .content .top .buy_info .buy_info_colorSelector span {
    font-weight: bold;
  }
  .main .content .top .buy_info .buy_info_colorSelector .color_selector {
    width: 100%;
    font-size: 18px;
  }
  .main .content .top .buy_info .buy_info_size {
    margin-top: 15px;
  }
  .main .content .top .buy_info .buy_info_size span {
    font-weight: bold;
  }
  .main .content .top .buy_info .buy_info_size .size_selector {
    width: 100%;
    font-size: 18px;
  }
  .main .content .top .buy_info .buy_info_quantity {
    margin-top: 15px;
  }
  .main .content .top .buy_info .buy_info_quantity span {
    font-weight: bold;
  }
  .main .content .top .buy_info .buy_info_stock {
    font-size: 18px;
  }
  .main .content .top .buy_info input[type=number]::-webkit-inner-spin-button,
.main .content .top .buy_info input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .main .content .top .buy_info input[type=number] {
    -moz-appearance: textfield;
  }
  .main .content .top .buy_info .buy_info_button {
    margin-top: 30px;
  }
  .main .content .top .buy_info .buy_info_button .button_purchase {
    width: 100%;
    height: 45px;
    background-color: #90EE90;
    color: black;
    font-weight: bold;
  }
  .main .content .bottom {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }
  .main .content .bottom .product_desc {
    width: 100%;
  }
  .main .content .bottom .product_specif .table .tr {
    padding-bottom: 10px;
  }
  .main .content .bottom .product_specif .table .tr .th {
    text-align: left;
    padding-right: 60px;
  }
  .main .content .bottom .popup {
    display: none;
    position: absolute;
    width: 50%;
    height: 70px;
    background-color: #a8eaa8;
    padding-top: 20px;
    align-self: center;
    text-align: center;
    margin-top: 300px;
    border: 1px solid;
    border-radius: 15px;
  }
  .main .content .bottom .popup .msg_addCart {
    font-size: 16px;
    font-weight: bold;
  }
}
@media screen and (min-width: 768px) {
  .main .content .top .buy_info {
    padding: 30px;
  }
  .main .content .top .buy_info .buy_info_header .h2 {
    font-size: 30px;
  }
  .main .content .top .buy_info .buy_info_header span {
    font-size: 20px;
  }
  .main .content .top .buy_info .buy_info_price {
    font-size: 35px;
  }
  .main .content .top .buy_info .buy_info_colorSelector span {
    font-size: 20px;
  }
  .main .content .top .buy_info .buy_info_colorSelector .color_selector {
    font-size: 20px;
  }
  .main .content .top .buy_info .buy_info_colorSelector .color_selector option {
    font-size: 20px;
  }
  .main .content .top .buy_info .buy_info_size span {
    font-size: 20px;
  }
  .main .content .top .buy_info .buy_info_size .size_selector {
    font-size: 20px;
  }
  .main .content .top .buy_info .buy_info_size .size_selector option {
    font-size: 20;
  }
  .main .content .top .buy_info .buy_info_quantity {
    font-size: 20px;
  }
  .main .content .top .buy_info .buy_info_quantity input {
    font-size: 20px;
  }
  .main .content .top .buy_info .buy_info_stock {
    font-size: 20px;
  }
  .main .content .top .buy_info .buy_info_button span {
    font-size: 20px;
  }
  .main .content .top .buy_info .buy_info_button .button_purchase {
    height: 60px;
    font-size: 20px;
  }
  .main .content .bottom {
    padding-left: 10px;
  }
  .main .content .bottom .product_desc .h2 {
    font-size: 30px;
  }
  .main .content .bottom .product_desc p {
    font-size: 20px;
  }
  .main .content .bottom .product_specif .h2 {
    font-size: 30px;
  }
  .main .content .bottom .product_specif .table {
    font-size: 20px;
    border-spacing: 10px;
  }
  .main .content .bottom .product_specif .table .tr .th {
    padding-right: 150px;
  }
  .main .content .bottom .popup {
    padding-top: 10px;
  }
  .main .content .bottom .popup .msg_addCart {
    font-size: 26px;
  }
}
@media screen and (min-width: 993px) {
  .main .header {
    padding-left: 65px;
    padding-right: 65px;
  }
  .main .header .nav {
    height: 100%;
  }
  .main .content .top {
    flex-direction: row;
  }
  .main .content .top .thumbnail_Image {
    margin-top: 50px;
  }
  .main .content .top .main_Image .img_Big {
    height: 400px;
    margin: 50px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    width: unset;
  }
  .main .content .top .buy_info {
    width: 300px;
    padding: 30px;
    margin-top: 50px;
  }
  .main .content .top .buy_info .buy_info_price {
    font-size: 25px;
  }
  .main .content .top .buy_info .buy_info_colorSelector .color_selector {
    font-size: 18px;
  }
  .main .content .top .buy_info .buy_info_size .size_selector {
    font-size: 18px;
  }
  .main .content .top .buy_info .buy_info_button .button_purchase {
    font-size: 16px;
  }
  .main .content .bottom {
    display: flex;
    flex-direction: column;
    margin-left: 65px;
  }
  .main .content .bottom .product_desc {
    width: 50%;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
  }
  .main .content .bottom .product_specif {
    width: 50%;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
  }
  .main .content .bottom .product_specif .table .tr .th {
    padding-right: 225px;
  }
  .main .content .bottom .popup {
    padding-top: 30px;
  }
}

/*# sourceMappingURL=style.css.map */
