@media screen and (min-width: 360px) {
  body {
    margin: 0;
  }
  .main {
    width: 100%;
    height: 100%;
    
    .header {
      height: 40px;
     
      .nav {
        box-sizing: border-box;
        padding-top: 5px;
        height: 100%;
        display: flex;
        justify-content: space-between;
        a {
          width: 100%;
          text-align: center;
          font-size: 20px;
          text-decoration: none;
          color: #556;
          
          
          &:focus, &:hover {
            border-bottom: 2px solid darkblue;
            color: #556;
          }
          &:active, &:visited {
            color: #556;
          }
        }
      }
    }
    .content {
      background-color: #dddddd;
      background-image: linear-gradient(to bottom, #e9e9e9, #dddddd, #bbbbbb, #c3c3c3); 
      
      .top {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        
        .thumbnail_Image {
          width: 0px; 
          
          .img_Small {
            border: 1px solid;
          }
        }
        
        .main_Image {
          .img_Big {
            width: 100%;
          }
        }
        
          .buy_info {
            display: flex;
            flex-direction: column;
            background-color: white; 
            width: 100%;
            padding: 10px;
            border: 1px solid rgba(0,0,0,0.3);
            box-sizing: border-box;
            border-radius: 4px;

          .buy_info_header {
            .h2 {
              margin: 0;
              margin-bottom: 15px;
            }
          }

          .buy_info_price {
            margin-top: 15px;
            font-weight: bold;
            font-size: 25px;
          }

          .buy_info_colorSelector {
            margin-top: 15px;
            span {
              font-weight: bold;
            }
            .color_selector {
              width: 100%;
              font-size: 18px;
            }
          }
            
          .buy_info_size {
            margin-top: 15px;
            span {
              font-weight: bold;
            }
            .size_selector {
              width: 100%;
              font-size: 18px;
            }
          }

          .buy_info_quantity {
            margin-top: 15px;
            
            span {
              font-weight: bold;
            }
          }
            
          .buy_info_stock {
            font-size: 18px;    
          }  

            input[type=number]::-webkit-inner-spin-button,
            input[type=number]::-webkit-outer-spin-button
            {
              -webkit-appearance: none;
              margin: 0;
            }
          input[type=number] {
            -moz-appearance: textfield;
          }

          .buy_info_button {
            margin-top: 30px;
            .button_purchase {
              width: 100%;
              height: 45px;
              background-color: #90EE90;
              color: black;
              font-weight: bold;
            }
          }
        } 
      }
      
        .bottom {
          display: flex;
          flex-direction: column;
          margin-left: 10px;

        .product_desc {
          width: 100%;    
        }

        .product_specif {
          .table {
            .tr {
              padding-bottom: 10px;
              .th {
                text-align: left;
                padding-right: 60px;
              }
            }
          }
        }
          .popup {
            display: none;
            position: absolute;
            width: 50%;
            height: 70px;
            background-color: #a8eaa8;
            padding-top: 20px;
            align-self: center;
            text-align: center;
            margin-top: 300px;
            border: 1px solid;
            border-radius: 15px;
            
          .msg_addCart {
            font-size: 16px;
            font-weight: bold;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
   .main {
    .content {
      .top {
        .thumbnail_Image {

        }
        .main_Image {
          .image_Big {

          }
        }

        .buy_info {
          padding: 30px;

          .buy_info_header {
            .h2 {
              font-size: 30px;
            }
            span {
              font-size: 20px;
            }
          }

          .buy_info_price {
            font-size: 35px;
          }

          .buy_info_colorSelector {
            span {
              font-size: 20px;
            }
            .color_selector {
              font-size: 20px;
              option {
                font-size: 20px;
              }
            }
          }

          .buy_info_size {
            span {
              font-size: 20px;
            }
            .size_selector {
              font-size: 20px;
              option {
                font-size: 20
              }
            }
          }

          .buy_info_quantity {
            font-size: 20px;

            input {
              font-size: 20px;
            }
          }

          .buy_info_stock {
              font-size: 20px;    
          } 

          .buy_info_button {

             span {
                font-size: 20px;
            }

            .button_purchase {
              height: 60px;
              font-size: 20px;
            }
          }
        }
      }

      .bottom {
        padding-left: 10px;

        .product_desc {
          .h2 {
            font-size: 30px;
          } 
          p {
            font-size: 20px;
          }
        }

        .product_specif {
          .h2 {
            font-size: 30px;
          }
          .table {
            font-size: 20px;
            border-spacing: 10px;
            .tr {

              .th {
                padding-right: 150px;
              }
            }
          }
        }
        .popup {
          padding-top: 10px;
          .msg_addCart {
            font-size: 26px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 993px) {
.main {
  .header {
    padding-left: 65px;
    padding-right: 65px;
    .nav {
      height: 100%;
      a {
       
      }
    }
  }
  .content {
    .top {
      flex-direction: row;
      .thumbnail_Image {
        margin-top: 50px;
      }
      .main_Image {
        .img_Big {
          height: 400px;
          margin: 50px;
          border: 1px solid rgba(0,0,0,0.3);
          width: unset;
        }
      }

      .buy_info {
        width: 300px;
        padding: 30px;
        margin-top: 50px;

        .buy_info_header {
          .h2 {
            
          }
        }

        .buy_info_price {
          font-size: 25px;
        }

        .buy_info_colorSelector {
          .color_selector {
            font-size: 18px;
          }
        }
        
        .buy_info_size {
          .size_selector {
            font-size: 18px;
          }
        }
        
        .buy_info_quantity {
        
        }
        
        .buy_info_stock {
                
        } 

        .buy_info_button {
          
          .button_purchase {
            font-size: 16px;
          }
        }
      }
    }

    .bottom {
      display: flex;
      flex-direction: column;
      margin-left: 65px;
      
      .product_desc {
        width: 50%; 
        border-top: 2px solid rgba(0,0,0,0.1);
      }
      
      .product_specif {
        width: 50%; 
        border-top: 2px solid rgba(0,0,0,0.1);
        .table {
          .tr {
            
            .th {
              padding-right: 225px;
            }
          }
        }
      }
      
      .popup {
        padding-top: 30px;
        .msg_addCart {
          
        }
      }
    }
  }
}

}

